/* стили для картинки с Фейнманом. В целом нужно, чтобы спозиционироваять картинку 
в нижний левый угол и задать ей правильные размеры */
.feynman__image {
  z-index: 1;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;

}