/* это стили блока с тектом "Какие современные и эффективные подходы к обучению вы можете использовать в своей жизни?*/
.header__subtitle {
  margin: 0;      /* по замечанию ревьюера сбросил margin - сразу все на места встало! */
  position: absolute;
  width: 100%;               /* внес связку width: 100%; max-width: 388px; по замечанию ревьюера в другом месте, но смысл прежний не зажимать жестко текст */
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;         /* внес так как заметил, что не указано нормальное написание шрифта */
  font-family:"Inter", "Arial", sans-serif;
  left: 64px;
  bottom: 30px;
  z-index: 2; /* поправлено по замечанию ревьюера - "При сжатии экрана, картинка закрывает текст"*/
}