.profile__button-edit {
  background-image: url(../../../images/edit_button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
}
.profile__button-edit:hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}