.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  text-align: left;
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
