.video__iframes {
  margin-top: 50px;
  position: relative;
  margin-bottom: -60px; /*Тут понял. Вообще, если бы я с текушим пониманием начинал делать работу, то сделал бы через margin. Не могу сказать, что сподвигло меня исрользовать сдвиг. :)*/
}

.video__iframe:nth-of-type(2n) { /*Здесь тоже себя не понял. Почему-то не использовал класс.*/
  margin-left: 20px;
}
