.elements__list {
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .elements__list {
    grid-template-columns: repeat(1, 282px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .elements__list {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (min-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(3, 282px);
  }
}
