/* стили подписи Выучить и не забыть feynman__subtitle */
.feynman__subtitle {
  margin-bottom: 0; 
  font-size: 36px;
  margin-top: 70px;
  line-height: 51px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  font-weight: 400;
  } 

  