/* самые общие стили всего контента (page) плюс реализация sticky footer*/
.page {
  background:#2a2c2f;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  /* четыре строки ниже дописаны по предложениею ревьюера - ""Прижать" футер к низу экрана, чтобы он оставался на своем месте при любом количестве контента на странице (т.н. "липкий футер")" */
  display: grid;
  grid-template-areas: "header" "content" "footer"; /* вовсе не обязательная строка (так лучше читается код, но это только мое мнение, не имею права настаивать) */
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* провел испытания - убирал почти весь контент - footer четко на всех разрешениях остается внизу страницы */
}