.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  bottom: 50%;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
