/* здесь стили родительского блока pge в котром хранятся стили сайта в целом
минимальная ширина 1100 px, максимальная ширина 1600 px*/
.page {
  /* margin: 0; 
  padding: 0;  */  /* закоментировал, я так понимаю, что этого делать не нужно было. От ревьюера: "Ниже у вас переназначается это св-во" */
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}
