/* стили для section-subtitle */
.section-subtitle {
  width: 60%;
  margin-top: -22px; /* Из-за автомотических отступов h1 и h2, чтобы получилось точно 20px как
  указано в брифе сделал отрицательный margin иначе получается фигня. Если делать не h1 и h2, 
  а div тогда все ложиться красиво. Если я правильно понял, то требование использовать заголовки 
  h1-h6  связано с индексацией сайта через поисковые машины*/
  align-self: center;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 0;
}