/* стили элемента title "Научиться учиться"*/
.header__title {
  margin: 0;            /* внес по замечаниб ревьюера */
  align-self: center;
  width: 100%;
  max-width: 730px;
  line-height: 96px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2; /* где-то в задании написано, что при изменении разрешения 
  эта надпись должна быть видна всегда, то есть пусть всех перекрывает. У меня z-index: 1; 
  присвоен картине "Опять двойка" здесь, на всякий случай поставил 2 */
}