.cards {
  width: 920px;
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-column-gap: 100px;
  margin: 0; /*Спасибо, постараюсь запомнить. За одно теперь знаю, что смотреть и как выглядит неправильный/правильный объект в DevTools. Наверное я тороплюсь. Многие моменты я просто не досмотрел сам. Но теперь подкован. Надеюсь, что теперь всё правильно? :)*/
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
