/*стили параграфов 4-5-6 */
.two-columns__paragraph {
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
/* внесено по замечанию ревьюера
"У всех трех параграфов должен быть один и тот же класс two-columns__paragraph(они все имеют схожие стили) 
и удобным вариантом является например задать нижний отступ для параграфа по-умолчанию, 
а для последнего параграфа нужно удалить лишний отступ для соответствия брифу. 
Для подобной цели удобно использовать псевдо-класс :last-of-type или :last-child.
ОТ СЕБЯ: Можно было и флексами реализовать (второй ваш совет), возможно даже элегантней было, но мне кажется так код более читаемый и я люблю ПСЕВДОКЛАССЫ :) */