body {
    background-color: rgba(164, 199, 227, 0.35);
}

h1,
h2 {
    text-align: center;
}

.h1-main {
    background: rgba(122, 178, 226, 0.41);
    border: 2px solid rgba(204, 204, 204, 0);
    box-shadow: 15px 10px 10px rgba(61, 108, 185, 0.93);
    margin: 0px 35px;
    color: black;
    margin-top: -1px;

}

img[alt="logo"] {
    float: left;
    width: 170.4px;
    height: 129px;
    margin-right: 25px;
}

.effect {
    text-shadow: 5px 5px 4px #695f5f;
    font-size: 35px;
    margin-bottom: 29.5px;

}

.menu-link {
    border: 0px solid red;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 200px;
}

.menu-link:hover {
    background: #1e99be;
}

.menu-list {
    width: 100%;
    margin-top: -15px;
    margin-bottom: 2px;

}

img[alt="Mobiles store"] {
    width: 900px;
    height: 600px;
    display: block;
    margin: 2px 15px 15px;
}

.card-one {
    background: rgba(122, 178, 226, 0.41);
    box-shadow: 15px 10px 10px rgba(61, 108, 185, 0.93);
    margin: 35px 35px;
    border: 0px solid;
    display: block;
    width: 930px;
    padding-top: 15px;
    float: left;
}

.card-one:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-two {
    background: rgba(122, 178, 226, 0.41);
    box-shadow: 15px 10px 10px rgba(61, 108, 185, 0.93);
    margin: 135px 35px;
    border: 0px solid;
    display: block;
    width: 930px;
    padding-top: 15px;
    float: left;
}

.card-two:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-three {
    background: rgba(122, 178, 226, 0.41);
    box-shadow: 15px 10px 10px rgba(61, 108, 185, 0.93);
    margin: 235px 35px;
    border: 0px solid;
    display: block;
    width: 930px;
    padding-top: 15px;
    float: left;
}

.card-three:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container {
    border: 0px solid red;
    display: block;
    width: 900px;
    height: 170px;
    text-align: justify;
    margin: 10px 10px 10px 14px;
    font-size: 19px;
}
