/* стили заголовка в footer в элементе footer__column_content_info */
.footer__column-heating {
  margin-top: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 0;
}