/* стили заголовков heating внутри ячеек cell внутри table внутри секции digits */
.table__heading {
  margin-top: 0;
  margin-bottom: 0; /* внесено по замечанию ревьюера "Нужно сбросить нижний отступ браузера для элемента" */
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
  /* убраны ненужные сущности по замечанию ревьюера */
}