/* стили для ссылки "подробнее" в секции Фейнман */
.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  font-weight: 100;
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  right: 48px;
  bottom: 50%;
  transition: opacity 0.4s linear;
  
}

.feynman__link:hover {
  opacity: 0.5;
} /* внесено по замечанию ревьюера, как я мог это упустить - "ума не приложу" */