/* стили центрального блока technique */
.technique {
  border: 1px solid red;
  padding-top: 100px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}