/* Шапка сайта */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  position: relative;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
}

.header__subtitle {
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  z-index: 10;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  background-color: #2F80ED;
  z-index: 0;
}
