.footer__column-link {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: max-content; /*Здесь суть в том, что рабочая область ссылки огрфничивается контентом. Возможно это делается иначе. Спасибо, я прям много на ошибках запомнил. Надеюсь))*/
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.footer__column-link:nth-of-type(3n) {
  margin-bottom: 16px;
}
