/* стили иконок ссылок на социальные сети */
.footer__social-icon {
  margin-right: 5px; /* исправлено по замечанию ревьюера, странно, что этого не было в брифе, но визуально ОЧЕНЬ ВЕРНО! Поставил 5px - визуально смотриться прилично*/
  width: 16px;
  height: 16px;
}