/* стили параграфов - элементов с текстом внутри pharagraphs */
.place__pharagraph {
  /* border: 1px solid green; */
  margin: 0 0 26px; /* по замечанию ревьюера - "На случай добавления в блок еще параграфов, будет лучше назначить нижний отступ для основного селектора, и обнулить его для последнего элемента в группе" */
  padding: 0;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
}

.place__pharagraph:last-child {
  margin: 0;
}
/* по замечанию ревьюера - "На случай добавления в блок еще параграфов, будет лучше назначить нижний отступ для основного селектора, и обнулить его для последнего элемента в группе" */

@media screen and (max-width: 1023px) {
  .place__pharagraph {
    line-height: 26px;
    font-size: 16px;
    margin: 0 0 25px;
  }
}
